In [1]:
import requests
import httplib2
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import glob
import os
%matplotlib inline

### 전 계좌 조회

In [73]:
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus
import requests, json
import pandas as pd

# 데이터를 받고자하는 사이트의 포멧에 맞게 url을 수정하고 보내는 코드
url = 'https://openapi.wooribank.com:444/oai/wb/v1/finance/getIndivAllAccInfo?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {}
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
items = result_data['dataBody']['GRID']
df_items=pd.DataFrame(items)
df_items

,ACNO,ACCT_KND,PRD_NM,CUCD,PBOK_BAL,FAXC_BAL,NEW_DT,XPR_DT,ADNT_RGS_YN,PSKL_ACT_YN,ACT_STCD
0,10021965*****,P,WON 통장,KRW,4014050.000,0.000,2021-02-23,2022-02-23,Y,Y,D
1,10025770*****,P,위비모바일통장,KRW,88012200.000,0.000,2021-03-15,2022-03-05,Y,N,A
2,10029734*****,P,스무살우리 통장,KRW,958900.000,0.000,2020-04-14,2022-03-15,N,Y,C
3,10401646*****,J,우리 Magic6 적금,KRW,110000.000,0.000,2020-10-31,2021-10-31,Y,N,D
4,10737094*****,U,주택청약종합저축,KRW,0900000.000,0.000,2020-10-31,2048-09-14,N,Y,A
5,120157*******,L,가계적금관계대출,KRW,8000000.000,0.000,2021-04-09,2021-06-28,,Y,D

### 계좌 기본 조회

In [80]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/finance/getAccBasicInfo?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "INQ_ACNO": "1002123456789",
    "INQ_BAS_DT": "20210220",
    "ACCT_KND": "P",
    "INQ_CUCD": "KRW"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

,ACNO,DPS_STCD,CUCD,CT_BAL,PAY_AVL_AM,NEW_DT,XPR_DT,TXTR_PDCD,MM_PID_AM,FDN_DSCD,TDY_EVL_AM,IVST_PRN,SMPL_PRFT_RT,LST_LN_PCS_AM
0,10084826*****,01,KRW,8835030.000,9385030.000,2020-10-31,2021-10-31,,2040000.000,00,0,0,,

### 거래 내역 조회

In [92]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/finance/getAccTransList?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "INQ_ACNO": "1002123456789",
    "INQ_STA_DT": "20210101",
    "INQ_END_DT": "20210310",
    "NEW_DT": "20140522",
    "ACCT_KND": "P",
    "CUCD": "KRW"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']['GRID']
df_items=pd.DataFrame(items)
df_items

,TRN_DT,TRN_TM,TRN_SRNO,CUCD,PBOK_PRNG_OTLN_CD,DPS_RAP_KDCD,MD_KDCD,RCV_AM,PAY_AM,DPS_BAL,TRN_TXT,PID_SQ,TRN_STCD
0,2021-04-26,121322,1,KRW,0318,200,MIBMPSB2,0.000,854000.000,107200000.000,홍길동,0,259100000.000
1,2021-04-22,081050,5,KRW,0318,200,MIBMPSB2,548000.000,0.000,322300000.000,카드취소,0,215100000.000
2,2021-03-30,174257,6,KRW,0318,100,MIBMPSB2,0.000,016000.000,222400000.000,월급여,0,431300000.000

### 신용 대출 한도 조회

In [98]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/credit/getCreditLoanEmFnd?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "ENCY_ACNM_NO": "11111111111111111111",
    "CUS_KORL_NM": "홍길동",
    "RQ_AM": "30000000"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

{'dataHeader': {}, 'dataBody': {'LON_DCS_IR': 0.7, 'APL_ADN_IR': 1.71, 'TGT_CUS_PRME_IR': '0', 'WOORI_PBOK_HLDG_PRME_IR': '0', 'APV_AM': 3000000.0, 'PRC_STCD': 'BA04'}}

,LON_DCS_IR,APL_ADN_IR,TGT_CUS_PRME_IR,WOORI_PBOK_HLDG_PRME_IR,APV_AM,PRC_STCD
0,0.7,1.71,0,0,3000000.0,BA04

### 우리 Won하는 직장인대출 한도 조회

In [100]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/credit/getCreditLoanWon?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "ENCY_ACNM_NO": "1111111111111",
    "CUS_KORL_NM": "홍길동",
    "RQ_AM": "10000000",
    "BZPE_CRNO": "1002030000",
    "ENCN_DT": "1",
    "HLD_YINC_AM": "1",
    "ORG_NAME": "1",
    "EXTR_IDF_REFC_KEY_TXT": "woori202101011234567"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

   LON_DCS_IR  APL_ADN_IR      APV_AM PRC_STCD  LNAPV_RQ_NO
0         0.7        0.76  35700000.0     BA04  02093736106

### 신차 대출 한도 조회

In [ ]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/credit/getCreditLoanWon?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "ENCY_ACNM_NO": "1111111111111",
    "CUS_KORL_NM": "홍길동",
    "RQ_AM": "10000000",
    "BZPE_CRNO": "1002030000",
    "ENCN_DT": "1",
    "HLD_YINC_AM": "1",
    "ORG_NAME": "1",
    "EXTR_IDF_REFC_KEY_TXT": "woori202101011234567"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

### 당행 계좌 간 이체 조회

In [103]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/trans/getWooriAcctToWooriAcct?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "WDR_ACNO": "1002123456789",
    "TRN_AM": "500000",
    "RCV_BKCD": "020",
    "RCV_ACNO": "1002987654321",
    "PTN_PBOK_PRNG_TXT": "보너스"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

{'dataHeader': {}, 'dataBody': {'OWAC_FNM': '홍길동', 'BFTR_AF_BAL': '3801000', 'RNPE_FNM': '김우리', 'FEE_AM': '0'}}

  OWAC_FNM BFTR_AF_BAL RNPE_FNM FEE_AM
0      홍길동     3801000      김우리      0

### 당행 계좌 간 이체 실행

In [105]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/trans/executeWooriAcctToWooriAcct?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "WDR_ACNO": "1002123456789",
    "TRN_AM": "500000",
    "RCV_BKCD": "020",
    "RCV_ACNO": "1002987654321",
    "PTN_PBOK_PRNG_TXT": "보너스"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

  OWAC_FNM BFTR_AF_BAL RNPE_FNM FEE_Am
0      홍길동     8206000      김우리      0

### 타행 계좌 간 이체 조회

In [109]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/trans/getWooriAcctToOtherAcct?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "WDR_ACNO": "1002123456789",
    "TRN_AM": "500000",
    "RCV_BKCD": "081",
    "RCV_ACNO": "110123456789",
    "PTN_PBOK_PRNG_TXT": "월급여"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

  OWAC_FNM BFTR_AF_BAL RNPE_FNM FEE_Am
0      홍길동     3665000      김우리    500

### 타행 계좌 간 이체 실행

In [110]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/trans/executeWooriAcctToOtherAcct?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "WDR_ACNO": "1002123456789",
    "TRN_AM": "500000",
    "RCV_BKCD": "081",
    "RCV_ACNO": "110123456789",
    "PTN_PBOK_PRNG_TXT": "월급여"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

  OWAC_FNM BFTR_AF_BAL RNPE_FNM FEE_Am
0      홍길동     3662000      김우리    500

### 전세 자금 대출 한도 조회

In [118]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/lease/getLeaseHouseLoanAm?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "CRINF_INQ_AGR_YN": "Y",
    "PSN_INF_OFR_AGR_YN": "Y",
    "PRCI_UTZ_AGR_YN": "Y",
    "SLF_ANL_ICM_AM": "67000000",
    "ADR_KDCD": "3",
    "POST_SRNO": "0",
    "BLD_MNG_NO": "1111111111",
    "MDBT_RQ_AM": "0",
    "LEAS_GRN_AM": "70000000",
    "LAWC_ADDN_NO": ""
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

,RSP_RTCD,RSP_ERR_TXT,FRCS_AVL_LN_AM,FRCS_AVL_GDOC_AM,FRCS_AVL_GRN_RT,FRCS_AVL_GRFE_RT,FRCS_AVL_GRFE
0,,,16500000,6250000,0.01,0.01,0

### 아파트 담보 대출 한도 조회

In [120]:
url = 'https://openapi.wooribank.com:444/oai/wb/v1/apt/getAptLoanAm?'
values  = {
  "dataHeader": {
    "UTZPE_CNCT_IPAD": "",
    "UTZPE_CNCT_MCHR_UNQ_ID": "",
    "UTZPE_CNCT_TEL_NO_TXT": "",
    "UTZPE_CNCT_MCHR_IDF_SRNO": "",
    "UTZ_MCHR_OS_DSCD": "",
    "UTZ_MCHR_OS_VER_NM": "",
    "UTZ_MCHR_MDL_NM": "",
    "UTZ_MCHR_APP_VER_NM": ""
  },
  "dataBody": {
    "TRN_KD_DIS": "01",
    "APT_DJ_CD": "11111111",
    "PYT": "34",
    "PYT_TYP_TXT": "A",
    "MKPR_BAS_DT": "20200314",
    "GEN_TRN_AM": "780000000",
    "SB_ULPR": "820000000",
    "SB_LLPR": "750000000",
    "RNT_ULPR": "0",
    "RNT_LLPR": "0",
    "SIDO_CD": "01",
    "ACDS_CD": "010",
    "DNEM_CD": "050",
    "LI_CD": "01",
    "BLD_NM": "ooo 아파트",
    "DONG_ADR": "서울시 동대문구 장안0동 ",
    "HO_ADR": "A동 000호",
    "ALL_FCNT": "25",
    "EQV_FCNT": "12",
    "TOT_HHLD_CN": "644",
    "SQM": "108",
    "ALL_ROOM_NCNT": "",
    "RNT_ROOM_NCNT": "0",
    "LTHR_AM": "0",
    "PRK_AM": "0",
    "LN_MECN": "48",
    "CNAD_TEL_NO_1": "01012345678",
    "CNAD_TEL_NO_2": "",
    "CNAD_TEL_NO_3": "",
    "RQPE_ITCSNO": "1111111111111",
    "RQPE_FNM": "홍길동",
    "INET_CNSL_TRN_DSCD": "1",
    "APT_EVL_ISCD": "3",
    "MKPR_DSCD": "1",
    "LN_HOPE_BRCD": "111111",
    "LN_RQ_AM": "200000000",
    "ADVPE_ENO": "11111111",
    "FD_USCD": "2",
    "LN_HOPE_DT": "20210214",
    "BZBR_COLPE_ALOC_YN": "Y"
  }
}
headers = {  'appkey':'l7xxyuXx5JXUfAkmjfHJ8lZEKWn9QbsNzbal',  'Content-Type':'application/json; charset=utf-8' }
post_data = requests.post(url, json = values, headers = headers)
result_data = post_data.json()
#print(result_data)
items = result_data['dataBody']
df_items=pd.DataFrame.from_records([items])
df_items

  LN_AVL_AM
0  65500000